@import url(http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_ltregular';
  src: url("../fonts/roboto-light.eot");
  src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

li {
  list-style: none; }

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
body {
  background: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'robotoregular', sans-serif; }

.wrapper {
  text-align: center; }

.open-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: #009bbf;
  color: #fff;
  text-align: center;
  padding: 22px 97px;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2); }

.overlay {
  display: none;
  position: fixed;
  z-index: 999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000; }

.popup {
  display: none;
  width: 602px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.tabs__item .fa {
  font-size: 3.75em;
  display: inline-block;
  margin-bottom: 28px;
  color: #fff;
  opacity: 0.3;
  transition: all 0.3s ease-in-out; }
  .tabs__item .fa:nth-of-type(2) {
    margin: 0 167px; }
  .tabs__item .fa:hover {
    transform: scale(1.1) rotate(360deg);
    opacity: 0.6; }

.active {
  opacity: 1; }

.tabs__item {
  display: inline-block; }
  .tabs__item:nth-of-type(2) {
    margin-left: 167px;
    margin-right: 167px; }

.form__list {
  margin-bottom: 5px; }

.slider {
  position: relative;
  display: inline-block; }

.slider__list--wrap {
  width: 600px;
  height: 400px;
  overflow: hidden; }

.slider__list {
  *zoom: 1;
  width: 2000px;
  position: relative;
  transition: 0.3s ease;
  left: 0; }
  .slider__list:before, .slider__list:after {
    content: " ";
    display: table; }
  .slider__list:after {
    clear: both; }

.slider__item {
  position: relative;
  float: left;
  width: 600px;
  height: 394px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.form__item {
  position: relative;
  display: inline-block; }

.form__label {
  position: absolute;
  top: 7px;
  left: 14px;
  font-family: 'roboto_ltregular';
  font-size: 1.25em;
  color: #ccc; }

.tri {
  position: absolute;
  top: 68px;
  left: 46px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 20px solid #fff; }

.form__input {
  width: 300px;
  padding: 36px 3px 133px 15px;
  font-size: 1.5em;
  border: none;
  outline: none; }

#name {
  box-shadow: inset -1px 0px 0px 0 #ccc;
  border-top-left-radius: 4px; }

#surname {
  border-top-right-radius: 4px; }

#email {
  box-shadow: inset -1px 1px 0 0 #ccc; }

#pass {
  box-shadow: inset 0px 1px 0px 0 #ccc; }

#name:focus,
#surname:focus,
#email:focus,
#pass:focus {
  box-shadow: inset 0 0 1px 1px #00b3e3; }

.popup__upload {
  display: block;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .popup__upload input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
  .popup__upload p {
    position: absolute;
    font-size: 1.25em;
    color: #ccc;
    font-family: 'roboto_ltregular'; }
  .popup__upload .fa {
    font-size: 7.5em;
    color: #ccc; }

.popup__pass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: 'roboto_ltregular';
  color: #ccc;
  font-size: 1.25em;
  padding: 20px; }
  .popup__pass input {
    font-size: 1.25em;
    width: 201px;
    border: none;
    outline: none; }

.form__control {
  border: none;
  padding: 15px 54px;
  font-size: 1.25em;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  outline: none;
  opacity: 0.7; }
  .form__control:hover {
    opacity: 1; }
  .form__control:nth-of-type(1) {
    background: #f09f55;
    border-radius: 0 0 0 4px; }
  .form__control:nth-of-type(2) {
    background-color: #4292a6;
    margin-left: 5px;
    margin-right: 5px; }
  .form__control:nth-of-type(3) {
    background-color: #6dcb99;
    border-radius: 0 0 4px 0; }

/* ==========================================================================
	 Helper
	 ========================================================================== */
